@modal: #ffffff;
@xmas-red: #DF1F00;
@xmas-green: #20AB58;

.event-modal-large {
  background-color: @modal;
  border-color: @modal;
  border-radius: 10%;
  text-align: center;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  .tableTitle {
    font-weight: 600;
  }

  #naughty-participants {
    color: @xmas-red;
  }

  #nice-participants {
    color: @xmas-green;
  }

  .names {
    max-height: 75%;
    opacity: .44;
    overflow-y: scroll;
  }
}
