@background: #e5e5e5;
@modal: #ffffff;
@xmas-red: #DF1F00;
@xmas-green: #20AB58;
@opaque-color: #eceff1F0;
@off-black: rgba(0, 0, 0, 0.87);

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  background-color: @background;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: @off-black;
}

body>div {
  flex: 1;
  font-family: 'Red Rose', cursive;
}

.filter {
  justify-content: center;
  padding: 20px;
  margin: 40px;
}

#nav-buttons {
  right: 0;
}

.event-modal {
  background-color: @modal;
  border-radius: 20%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: @off-black;
  text-align: center;
  align-items: center;
}

.event-modal:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.75));
}

.input-badge {
  position: relative;

  input:not(:first-child) {
    padding-right: 60px;
  }

  .badge {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}
