@background: #e5e5e5;
@modal: #ffffff;
@xmas-red: #DF1F00;
@xmas-green: #20AB58;
@opaque-color: #eceff1F0;
@off-black: rgba(0, 0, 0, 0.87);

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  background-color: @background;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: fill;
  color: @off-black;
  font-family: 'Red Rose', cursive;
}

body>div {
  flex: 1;
}

.filter {
  justify-content: center;
  padding: 20px;
  margin: 40px;
}

.homeContainer {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 100px;
}

#nav-buttons {
  right: 0;
}

.event-modal {
  background-color: @modal;
  border-radius: 15%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: @off-black;
  white-space: nowrap;
  margin: 15px;
}

.host-event-modal {
  width: 200px;
  background-color: @modal;
  border-color: @modal;
  border-radius: 15%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: @off-black;
  white-space: nowrap;
  margin: 15px;
}

.secondary-font {
  color: @xmas-green;
}

.event-modal-large {
  background-color: @modal;
  border-color: @modal;
  width: 400px;
  height: 400px;
  border-radius: 10%;
  padding: 10%;
  text-align: center;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.event-modal-large .tableContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}

.tableTitle {
  margin-bottom: 0;
  font-weight: 600;
}

.event-modal-large .tableContainer .leftTableContainer {
  display: flex;
  flex-direction: column;
  color: @xmas-red;
  padding: 5%;
}

.event-modal-large .tableContainer .leftTableContainer .names {
  display: flex;
  flex-direction: column;
  opacity: 0.44;
  padding: 5%;
}

.event-modal-large .tableContainer .rightTableContainer {
  display: flex;
  flex-direction: column;
  color: @xmas-green;
  padding: 5%;
}

.event-modal-large .tableContainer .rightTableContainer .names {
  display: flex;
  flex-direction: column;
  opacity: .44;
  padding: 5%;
}

.match-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 100px;
}

.img-container img {
  max-width: 400px;
}

.button-container {
  display: flex;
  flex-direction: row;
}

#profile {
  background-color: #eeefff;
  border-radius: 5%;

  .info {
    font-weight: bold;
  }
}

#match-profile {
  background-color: #eeefff;
  border-radius: 5%;

  .info {
    font-weight: bold;
  }
}

.input-badge {
  position: relative;

  input:not(:first-child) {
    padding-right: 60px;
  }

  .badge {
    position: absolute;
    top: 10px;
    right: 5px;
  }
}

.profile-close {
  top: 20px;
  right: 40px;
}
