include common

- var doneDrawing = true;

mixin profile(profile)
  #profile.p-4
    form#profile-form
      .form-row.text-center
        .form-group.col-6.col-sm-4.col-md-3.mx-auto
            img(src="{{user.photoURL}}{{^user.photoURL}}/assets/santa-hat.svg{{/user.photoURL}}").img-thumbnail.rounded.mx-auto.img-fluid
      .form-row
        .form-group.col-md-12
            +formInput('displayName', 'First Last', '{{user.displayName}}')
      .form-row.align-items-center
        .form-group.col-md-6
          +formInput('email', 'Email', '{{user.email}}', 'email')(readonly)
            span.badge
        .form-group.col-6.col-md-3
          +formInput('number', 'Phone Number', '', 'tel')
        .form-group.col-6.col-md-3
          .form-check.form-check-inline
            input#notifications.form-check-input(type='checkbox' value='notifications' disabled)
            label.form-check-label(for='notifications') Text Notifications
    div.border-top.my-2.row.border-dark
    h3.text-center Address
    form#address-form
      .form-group
        +formInput('street', '1234 Main St', '{{address.street}}')
      .form-group
        +formInput('street2', 'APT# 1234', '{{address.street2}}')
      .form-row
        .form-group.col-md-6
          +formInput('city', 'City', '{{address.city}}')
        .form-group.col-md-4
          +formInput('state', 'State', '{{address.state}}')
        .form-group.col-md-2
          +formInput('zip', 'Zip Code', '{{address.street}}')(pattern="[0-9]*")

mixin matchProfile(profile)
  #match-profile.p-4
    form#match-profile-form
      .form-row.text-center
        .form-group.col-6.col-sm-4.col-md-3.mx-auto
            img(src="{{user.photoURL}}{{^user.photoURL}}/assets/santa-hat.svg{{/user.photoURL}}").img-thumbnail.rounded.mx-auto.img-fluid
      .form-row
        .form-group.col-md-12
            +formInput('displayName', 'Match First Last', '{{user.displayName}}')
      .form-row.align-items-center
        .form-group.col-md-6
          +formInput('email', 'Email', '{{user.email}}', 'email')(readonly)
            span.badge
        .form-group.col-6.col-md-3
          +formInput('number', 'Phone Number', '', 'tel')
        .form-group.col-6.col-md-3
          .form-check.form-check-inline
            input#notifications.form-check-input(type='checkbox' value='notifications' disabled)
            label.form-check-label(for='notifications') Text Notifications
    div.border-top.my-2.row.border-dark
    h3.text-center Address
    form#match-address-form
      .form-group
        +formInput('street', '1234 Main St', '{{address.street}}')
      .form-group
        +formInput('street2', 'APT# 1234', '{{address.street2}}')
      .form-row
        .form-group.col-md-6
          +formInput('city', 'City', '{{address.city}}')
        .form-group.col-md-4
          +formInput('state', 'State', '{{address.state}}')
        .form-group.col-md-2
          +formInput('zip', 'Zip Code', '{{address.street}}')(pattern="[0-9]*")

mixin matchDetails(matchName)
  | Your match is Vaibhav Gupta

mixin eventRSVP(eventDetails)
  div.event-modal-large
    div.title
      h3 Who's RSVP'd?
    div.tableContainer
      div.leftTableContainer
        h1.tableTitle naughty
        h6 hasn't rsvp'd
        div.names
          p4 Stadia
          p4 Calendar
          p4 Gmail
      div.rightTableContainer
        h1.tableTitle nice
        h6 already rsvp'd
        div.names
          p4 Stadia
          p4 Gmail
    div.drawButton
      +chat_button('drawNamesButton', 'Draw Names')

mixin hostEvent()
  | Enter details to host an event

mixin eventModal(eventDetails)
  +event_modal('eventButton', eventDetails + '\n date' + '\n host')

mixin createNewEventModal()
 +event_modal('hostEventButton', 'Host New Event')

template#hostEvent-content
  +hostEvent()

template#match-content
  div.match-container
    if doneDrawing
      +matchDetails('MatchName')
      div.img-container
        img(src='/assets/santa-w-bag.svg', alt='santa')
      div.button-container
        +chat_button('matchProfileButton', 'See Match Profile')
        +chat_button('gifteeChatButton', 'Chat w/ giftee')
        +chat_button('santaChatButton', 'Chat w/ santa')
    unless doneDrawing
      console.log("wow this actually worked?")
      +eventRSVP()


template#profile-content
  .col
    button.position-absolute.close.profile-close(type='button' aria-label='Close')
      span(aria-hidden='true') ×
    +profile()

template#match-profile-content
  .col
    button.position-absolute.close.profile-close(type='button' aria-label='Close')
      span(aria-hidden='true') ×
    +matchProfile()

template#home-content
  div.homeContainer
  +createNewEventModal()
  .m-4.d-flex.justify-content-center
    #events.card-deck

template#event
  .card
    .card-body
      h5.card-title {{name}}
      p.card-text {{host}}
      p.card-text {{participants.length}} Santa Helpers
      p.card-text
        small.text-muted Last updated {{formatted_updated_date}}

template#hostEvent-menu-buttons
  +menu_button('profileButton', 'My Profile')
  +menu_button('homeButton', 'Go Home')
  +menu_button('logoutButton', 'Logout')

template#match-menu-buttons
  +menu_button('profileButton', 'My Profile')
  +menu_button('homeButton', 'Go Home')
  +menu_button('logoutButton', 'Logout')

template#match-profile-menu-buttons
  +menu_button('profileButton', 'My Profile')
  +menu_button('homeButton', 'Go Home')
  +menu_button('logoutButton', 'Logout')

template#profile-menu-buttons
  +menu_button('logoutButton', 'Logout')

template#home-menu-buttons
  +menu_button('createEvent', 'Host Event')
  +menu_button('profileButton', 'My Profile')
  +menu_button('logoutButton', 'Logout')
