extends layout.pug

block templates
  include pages/login
  include pages/home
  include pages/profile
  include pages/match
  include pages/match-profile
  include pages/event-details
    
block scripts
  script(type="module" src="/js/main.js")
