include common

#nav-buttons.sticky-top.position-absolute
  +menu_button('home', 'Home')
  +menu_button('match-profile-tmp', 'My Matchs Profile')
  +menu_button('match-tmp', 'My Match')
  +menu_button('event-details-tmp', 'Event')
  +menu_button('profile', 'Profile')
  +menu_button('logout', 'Logout')
