
template#home-content
  #events.d-flex.flex-row.flex-wrap.justify-content-center.col-12
    #createEvent.card.event-modal.col-4.m-2
      .card-body
        h1.card-title.add-item.secondary-font +
        h5.card-title.secondary-font Host Event
        p.card-text
          small.text-muted Click to create a new event

template#event
  .card.event-modal.col-sm-6.col-md-4.m-2
    .card-body
      h6.card-title {{name}}
      h2.card-title.secondary-font 25 <br/> December
      p.card-text Hosted by: <br/> {{host_name}}
      p.card-text.secondary-font {{participant_summary}}
      p.card-text
        small.text-muted Last updated {{formatted_updated_date}}
    | {{#is_host}}
    .ribbon.ribbon-top-right
      span Host
    | {{/is_host}}
