template#invitation-content
  head
  .wrapper
    .mail
      .cover
        .letter
          h3.text-center Tis the season!
          text {{host}} invited you to {{name}}! Accept the invitation by {{match_date}} :)
