template#invitation-content
  .wrapper
    .mail
    .cover
    .letter
      h3.shining-title Tis the season!
      text {{host}} invited you to {{name}}! Accept the invitation by {{match_date}} :)
  .col-12.text-center.m-2
    button#accept.btn.btn-primary.btn-lg.btn-shiny(type="button") Accept
