include ../common

mixin matchDetails()
  | Your match is {{giftee.name}}

template#match-content
  .d-flex.flex-col.flex-wrap.justify-content-center.mt-5
    .text-center
      +matchDetails()
    .img-container
      img(src='/assets/santa-w-bag.svg', alt='santa')
    .d-flex.flex-row.flex-wrap.justify-content-center.col-12
      +chat_button('match-profile-button', 'See Match Profile')
      +chat_button('gifteeChatButton', 'Chat w/ giftee')
      +chat_button('santaChatButton', 'Chat w/ santa')
