include ../common

template#error-event-already-joined-content
  .event-modal-large.col-12.text-center.p-4
    .h3 You've already joined
    .h1.secondary-font.m-2 {{name}}
    .img-container
      img(src='/assets/elf_happy.svg', alt='happy-elf')
    .h5 Redirecting you to your home page
