include ../common

template#error-event-404-content
  .event-modal-large.col-12.text-center.p-4
    .img-container
      img(src='/assets/elf_group.svg', alt='elves')
    .col-12
      | Sorry, our elves can't find your event. Did you type it in correctly?
